<!doctype html>
<html>
<head>
    <title>Numbers.js CDN</title>
    <style>
      body { padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
      a {color: #00B7FF;}</style>
  </head>
<body>
  <h2>Numbers.js CDN</h2>
  <p>{{description}}</p>
</body>
</html>